<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>로그인 성공 페이지</title>
    </head>
    <body>
        <h1>로그인 성공</h1>
        <br>
        <div>
            <p>사용자 아이디 : <%= userid %></p> <!-- < %=    %> 안에 들어가는 것은 html 태그가 아니라 자바스크립트 코드가 들어갈 수 있다. userid라는 자바스크립트 변수의 값을 할당해 주세요. 이 부분이 userid 변수의 값으로 바뀌게 된다. -->
            <p>사용자 이름 : <%= username %></p> <!-- username이라고 하는 자바스크립트 변수에 들어있는 값으로 대체한다. -->
            <br>
            <br>
            <a href="/public/login.html">다시 로그인하기</a>
        </div>
    </body>
</html>


<!-- 로그인 성공했을 때 응답을 뷰 템플레이트라는 파일로 저장하고 있다. -->
<!-- 그냥 이 웹 페이지를 띄우면, 확장자는 ejs지만 내용을 보면 html 태그가 그대로 들어갔다. 확장자를 html로 바꾸면 그대로 웹 페이지다. 그 차이가 뭐냐면 여기에 변수(< %= userid %>)가 들어갈 수 있다. 또는 자바스크립트 코드가 들어갈 수 있다. 스프링을 해 봤다면 jsp와 상당히 유사하다고 생각할 수 있다. -->
<!-- 이걸 사용해서 이제 응답 결과를 만들어 본다. -->
