<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>로그인 성공 페이지</title>
    </head>
    <body>
        <h1>로그인 성공</h1>
        <br>
        <div>
            <p>사용자 아이디 : <%= userid %></p> <!-- < %=    %> 안에 들어가는 것은 html 태그가 아니라 자바스크립트 코드가 들어갈 수 있다. userid라는 자바스크립트 변수의 값을 할당해 주세요. 이 부분이 userid 변수의 값으로 바뀌게 된다. -->
        </div>
    </body>
</html>